<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" class="img-fluid rounded-start" alt="Book">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><%= current_user.name %></h3>
        <p class="card-text"><strong>Username:</strong> <%= current_user.username %></p>
        <p class="card-text"><strong>Email:</strong> <%= current_user.email %></p>
      </div>
    </div>
  </div>
</div>