<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <!-- Alert Message -->
  <%= alert %>

  <!-- Alert Close Button -->
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>